<h1>Bem-vindo</h1>
<p>{{data.name}}</p>
<p>{{data.email}}</p>
{{!-- <div class="m-1">
    <section>
        <h2>Novo produto</h2>
        <hr />
        <form action="/product/new" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" name="name" placeholder="Nome" />
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" name="price" placeholder="Preço" step=".1" />
            </div>
            <button class="btn btn-primary">
                Adicionar
            </button>
        </form>
    </section>
</div> --}}